body {
  margin: 0;
  overflow: hidden;
  color: white;
}

#healthDisplay, #weaponDisplay {
  position: absolute;
  left: 10px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

#healthDisplay {
  top: 10px;
}

#weaponDisplay {
  bottom: 10px;
}
